{% extends "index.html" %}
{% block content %}

<!--Light controls-->
<div class="container-fluid" style="padding-top:40px;">
  <div class="row">
    <div class="col-sm-6" style="text-align: center;">
      <h2>Office</h2>
      <p class="state">
        <strong>Currently:</strong>
        <span id="Officelights"></span>
      </p>
      <button class="officeToggle rounded">Light Toggle</button>
      <div class="slider">
        <input type="range" min="0" max="255" value="255" id="officeDim" onchange="lightdim('office', 'officeDim')">
      </div>
    </div>
    <div class="col-sm-6" style="text-align: center">
      <div class="bedlight">
        <h2>Bedroom</h2>
        <p class="state">
          <strong>Currently:</strong>
          <span id="bedroomlights"></span>
        </p>
        <button class="bedroomToggle rounded">Light Toggle</button>
        <div class="slider">
          <input type="range" min="0" max="255" value="255" id="bedroomDim" onchange="lightdim('bedroom', 'bedroomDim')">
        </div>
      </div>
    </div>
  </div>
</div>
<!--Light controls-->
<script src="../static/scripts/hueLightControl.js"></script>

{% endblock %}