{% extends "home.html" %}
{% block content %}

<!--Light controls-->
<div class="mainSpace container-fluid">
  <div class="row">
    <div class="col">
      <h4>Office</h4>
      <p class="state">
        <strong>Current state:</strong>
        <span id="Olight">{{state}}</span>
      </p>
      <button class="controlButton rounded" onclick="lightSwitch('office',true)">ON</button>
      <button class="controlButton rounded" onclick="lightSwitch('office',false)">OFF</button>
      <div class="slider">
        <input type="range" min="0" max="255" value="255" class="slider" id="myRange" onclick="lightdim('office')">
      </div>
    </div>
    <div class="col">
      <div class="bedlight">
        <h4>Bedroom</h4>
        <p class="state">
          <strong>Current state:</strong>
        </p>
        <button class="controlButton rounded" onclick="lightSwitch('bedroom',true)">ON</button>
        <button class="controlButton rounded" onclick="lightSwitch('bedroom',false)">OFF</button>
        <div class="slider">
          <input type="range" min="0" max="255" value="255" class="slider" id="myRange" onclick="lightdim('bedroom')">
        </div>
      </div>
    </div>
  </div>
</div>
<!--Light controls-->

<script>
//Highlights background of lights tab when lights page loaded
  $(document).ready(function () {
    $(".lights").css("border", "solid 1px black")
  });

//Light On/Off control
  var hueEndpoints = {
    office: "http://192.168.0.3/api/zjMUMakQKZlX-TXwiYioPBF7QBfDvHCMcHzhIxmx/groups/1/action",
    bedroom: "http://192.168.0.3/api/zjMUMakQKZlX-TXwiYioPBF7QBfDvHCMcHzhIxmx/groups/2/action"
  };

  function lightSwitch(location, state) {
      var url = hueEndpoints[location];
      console.log(url)
      //var lightState = new FormData();
      var lightChange = { "on": state }
      var xhttp = new XMLHttpRequest();
      xhttp.open("PUT", url, true)
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
        }
      }
      //lightState.append('location', location)
      //lightState.append('state', state)
      //console.log("Turning the " + location + " lights " + state)
      xhttp.send(JSON.stringify(lightChange))
    }

  //Light dimmer function
    function lightdim(location) {
      var dimSet = document.getElementById("myRange").value;
      var xhttp = new XMLHttpRequest();
      var url = hueEndpoints[location];
      var dimVal = parseInt(dimSet)
      var lightDimmer = {"bri":dimVal}
      xhttp.open("PUT", url, true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
        };
      };
      
      xhttp.send(JSON.stringify(lightDimmer));
    }
</script>

{% endblock %}